* {
    font-family: Roboto, sans-serif;
    -webkit-tap-highlight-color: transparent;
}

body {
    background-color: rgb(30,30,30);
    font-family: Roboto, sans-serif;
    margin: 0;
    padding: 0;
    -webkit-tap-highlight-color: transparent;
    /* padding-bottom: 20vh; */
    overflow: hidden;
}

.banner {
    background-color: rgb(40,40,40);
    height: 8vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}


.title {
    display: flex;
    color: rgb(240, 240, 240);
    font-weight: 500;
    font-size: 2rem;
}


.menu {
    position: absolute;
    right: 1vw;
}

.menu-img {
    width: 50px;
}

.center-game-box {
    height: 92vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.game-box {
    opacity: 0;
    display: none;
    position: relative;
    background-color: rgb(50,50,50);
    height: 100%;
    width: 100%;
    /* border: 0px solid rgb(240,240,240); */
    border-radius: 10px;
}

.game-box-border {
    height: 398px;
    width: 398px;
    display: none;
    border: 1px solid rgb(240,240,240);
    border-radius: 10px;

}
  
@media (max-width: 450px) {
    .game-box-border {
        height: 298px;
        width: 298px;
    }
  }


.line-1, .line-2, .line-3, .line-4 {
    position: absolute;
    background-color: rgb(200,200,200);
    border-radius: 25%;
}

.line-1 {
    right: 66%;
    width: 2%;
    height:100%;
}

.line-2{
    right: 31%;
    width: 2%;
    height:100%;
}
.line-3 {
    bottom: 66%;
    width:100%;
    height:2%;
}

.line-4 {
    bottom: 31%;
    width:100%;
    height:2%;
}
.rows-container {
    position: relative;
    /* display: none; */
    background-color: rgba(255,0,0,0);
    height: 100%
}
.row-1, .row-2, .row-3 {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(0,255,0,0);
    height: 34%;
}

.win-line-1, .win-line-2, .win-line-3, .win-line-4, .win-line-5, .win-line-6, .win-line-7, .win-line-8 {
    z-index: 1;
    display: none;
    opacity: 0;
    background-color: rgba(245,245,245,.7);
    position: absolute;
} 
.win-line-1, .win-line-2, .win-line-3 {
    height: 13px;
    width: 100%;
    border-radius: 10px;
}

.win-line-4, .win-line-5, .win-line-6 {
    height: 100%;
    width: 13px;
    border-radius: 10px;
    top: 0%;
}

.win-line-4 {
    left: 14%;
}

.win-line-5 {
    left: 49%;
}

.win-line-6 {
    left: 83%;
}

.win-line-7, .win-line-8 {
    height: 139.5%;
    width: 13px;
    border-radius: 10px;
    top: 0%;

}

.win-line-7 {
    top: -19.5%;
    left: 48%;
    rotate: -45deg;
}

.win-line-8 {
    top: -19.5%;
    right: 48%;
    rotate: 45deg;
}


.box-1, .box-2, .box-3 {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 31%;
    background-color: rgba(0,0,255,0);
    height: 100%;

    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
}

.box-img {
    /* display: none; */
    width: 100%;
    opacity: 0;
}

.play-btn {
    /* display: none; */
    cursor: pointer;
    font-size: 2.25rem;
    font-weight: 500;
    border: 1px solid rgb(240,240,240);
    border-radius: 10px;
    background-color: rgb(30,30,30);
    color: rgb(240,240,240);
    padding: 0.35em 1em 0.35em 1em;
    transition: color 0.25s ease-out 0s,
                border-color 0.25s ease-out 0s,
                font-size 0.25s ease-out 0s;
}

.play-btn-clicked {

    font-size: 2.25rem;
    font-weight: 500;
    border: 1px solid rgb(240,240,240);
    border-radius: 10px;
    background-color: rgb(30,30,30);
    color: rgb(240,240,240);
    padding: 0.35em 1em 0.35em 1em;

}

.play-btn:hover {
    color: #ffe815;
    border-color: #ffe815;
    font-size: 2.65rem;
    transition: color 0.4s ease-out 0s,
                border-color 0.4s ease-out 0s,
                font-size 0.4s ease-out 0s;
}

.text-stuff {
    position: absolute;
    color: rgb(240,240,240);
    font-size: 1.5rem;
    font-weight: 500;
    bottom: 20%;
    opacity: 0;
}

.score {
    margin-bottom: 3%;
}

.wins {
    color: rgb(100,240,100)
}

.draws {
    color: rgb(100,100,240)
}

.losses {
    color: rgb(240,100,100)
}

